@import "tailwindcss";

@font-face {
    font-family: hiruko;
    src: url("HirukoBlackAlternate.ttf");
}

@font-face {
    font-family: regular;
    src: url("Typo_Round_Regular_Demo.otf");
}

@keyframes slowspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
