@import "tailwindcss";

@font-face {
    font-family: hiruko;
    src: url("HirukoBlackAlternate.ttf");
}

@font-face {
    font-family: regular;
    src: url("Typo_Round_Regular_Demo.otf");
}

@keyframes slowspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes smallbounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom-scroll {
    scrollbar-color: #7cb4e7 #ffffff00;
}

.custom-scroll::-webkit-scrollbar-corner {
    background-color: #ffffff00;
    display:none;
}

#arcadegallery {
    -webkit-mask-image: linear-gradient(to right transparent 0, black var(--left-mask-size), black calc(100% - var(--right-mask-size)), transparent 100%),
    linear-gradient(to right, transparent calc(100% - var(--scrollbar-width)), black calc(100% - var(--scrollbar-width)));
  mask-image: linear-gradient(transparent 0, black var(--left-mask-size), black calc(100% - var(--right-mask-size)), transparent 100%),
    linear-gradient(to right, transparent calc(100% - var(--scrollbar-width)), black calc(100% - var(--scrollbar-width)));
  mask-composite: add;
    /* we could define --top-mask-size and --bottom-mask-size using @property rules but since the transition is so abrupt, there is not much difference in animation */
  --left-mask-size: 0px;
  --right-mask-size: 0px;
  --scrollbar-width: 16px;

  animation: scroll-fade;
  animation-timeline: scroll(self);
  animation-range: 0 100%;
}

@keyframes scroll-fade {
  0% {
    --left-mask-size: 0px;
    --right-mask-size: 48px;
  }

  1% {
    --left-mask-size: 48px;
  }

  99% {
    --right-mask-size: 48px;
  }

  100% {
    --left-mask-size: 48px;
    --right-mask-size: 0px;
  }
}
